.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background-image: url("../img/bg-med.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	font-family: 'Ubuntu', sans-serif;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
	padding: 17px 79px;
	background: rgba(0, 0, 0, 0.40);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}

.logo:hover, .logo:focus {
	color: #3CB878;
	outline: none;
}


.nav {
	display: flex;
	gap: 25px;
	align-items: center;
}

.link-nav:hover path,
.link-nav:focus path {
	fill: #3CB878;
}
.link-nav:hover,
.link-nav:focus {
	outline: none;
}

.nav-cta {
	position: relative;
	color: white;
	padding-left: 25px;
	font-size: 14px;
	line-height: 14px;
}

.nav-cta::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: block;
	width: 1px;
	height: 19px;

	background-color: white;
	opacity: 0.5;
}

.nav-action-link {
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	text-transform: capitalize;
}

.nav-action-link:hover {
	color: #3CB878;
}


/* MAIN */

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.wrapper-form {
	position: relative;
	width: 324px;
	margin: auto;
	padding: 30px 60px 38px;
	background-color: white;
	
}

.wrapper-form::before {
	content: "";
	display: block;
	position: absolute;
	top: 29px;
	left: 0;
	width: 18px;
	height: 18px;

	background: #3CB878;
}

.form-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 13px;
}

.form-header-current {
	font-size: 20px;
	line-height: 20px;
	color: #434343;
}

.form-header-action {
	color: #3CB878;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
}

.form-header-action:hover {
	color: #01813F;
	text-decoration: underline;
}

.form-content {
	width: 324px;
}

.auth-buttons {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 8px;
	padding-bottom: 40px;
	margin-bottom: 17px;
	border-bottom: 1px solid #f2f2f2;
}

.auth-buttons:after {
	content: "or";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -6px;
	padding-left: 5px;
	padding-right: 5px;
	

	background-color: white;
	font-size: 14px;
	line-height: 14px;
	color: #848484;
}

.auth-button-link {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 160px;
	background-color: grey;
	border-radius: 3px;

	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: white;
}

.auth-button-title {
	flex-grow: 1;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.auth-button-title:before {
	content: "";
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	display: block;
	width: 1px;
	height: 28px;
	background-color: #2B0D09;
	opacity: 0.1;

}

.facebook {
	background-color: #305DB8;
}
.facebook:hover {
	background-color: #022263;
}
.facebook:focus {
	background-color: #022263;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	outline: none;
}

.googleplus {
	background-color: #DF4A32;
}
.googleplus:hover {
	background-color: #AB1F09;
}
.googleplus:focus {
	background-color: #AB1F09;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	outline: none;
}

.facebook svg {
	position: relative;
	margin-left: 12px;
	margin-right: 12px;
}
.googleplus svg {
	position: relative;
	margin-left: 12px;
	margin-right: 7px;
}

.form-signup {
	position: relative;
}

.input-signup {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 19px;
	margin-bottom: 15px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;

	color: #434343;
	font-size: 14px;
	line-height: 14px;
}

.input-signup:focus {
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.agree {
	display: flex;
	align-items: center;
	gap: 1ch;
	margin-bottom: 20px;

	color: #434343;
	font-size: 14px;
	line-height: 14px;
}

.agree a {
	text-decoration: none;
	color: #3CB878;
}
.agree a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	color: #01813F;
	outline: none;
}

.vis-hid {
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
}

.checkbox-signup-container {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}

.checkbox-signup-container span {
	display: inline-block;
	width: 20px;
	height: 20px;

	background-color: white;
	border: 1px solid #f2f2f2;
}

.checkbox-signup-container input:focus + span {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.checkbox-signup-container input:checked + span {
	background-image: url("../assets/check-green.svg");
	background-repeat: no-repeat;
	background-position: center;
}


.submit-signup {
	width: 100%;
	padding: 15px 19px;
	margin-bottom: 15px;
	
	border: none;
	border-radius: 4px;
	background: rgba(60, 184, 120, 0.8);

	color: white;
	text-transform: capitalize;
}

.submit-signup:hover {
	background-color: #01813F;
}

.submit-signup:focus {
	background-color: #01813F;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	outline: none;
}

.text-link:focus {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	color: #01813F;
	outline: none;
}

header .text-link:focus {
	color: #3CB878;
}